<launch>
	<!-- 
	<node pkg="map_server" type="map_server" name="map_server" 
		args="$(find tb_labs)/launch/map_live.yaml"/>
	-->
	
	<node pkg="lab3" type="carrot_follower" name="carrot_follower" output="screen">
		<remap from="/carrot" to="/carrot_pose"/>
		<remap from="/robot_pos" to="/turtlebot_pose"/>
	</node>
	
	<node pkg="lab3" type="carrot_generator_live" name="carrot_generator" output="screen">
		<!-- <remap from="/path_debug" to="/move_base_simple/goal"/> -->
		<remap from="/pose" to="/turtlebot_pose"/>
		<remap from="/carrot_pose" to="/carrot_pose"/>
	</node>
	
	<node pkg="lab3" type="ips_converter_live" name="ips_converter" output="screen">
		<remap from="/indoor_pos" to="/indoor_pos"/>
		<remap from="/odom" to="/odom"/>
		<remap from="/turtlebot_pose" to="/turtlebot_pose"/>
	</node>

</launch>